:root {
    --nav-height: 40px;
    --main-height: calc(100vh - var(--nav-height));
}

.title-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--nav-height);
    background: rgb(30, 30, 30);
    color: white;
    padding-left: 24px;
}

.example-list {
    position: fixed;
    background: sliver;
    width: 160px;
    height: "100%";
    padding-top: 10px;
    padding-left: 24px;
}

.main {
    position: fixed;
    left: 0;
    top: var(--nav-height);
    width: 100%;
    height: var(--main-height);
    display: flex;
}

.left-box,
.right-box {
    align-items: stretch;
    display: flex;
}

.left-box {
    width: 55%;
}

.right-box {
    flex: 1;
    border: none;
    outline: none;
    align-items: stretch;
    width: 100%;
}

.pic-button {
    position: fixed;
    bottom: 0px;
    width: 64px;
    height: 72px;
    padding-top: 55px;
    border: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: transparent;
}

.teacher-button {
    left: 24px;
    background-image: url("images/teacher.png");
}

.run-button {
    right: 24px;
    background-image: url("images/gopher.png");
}

button:hover {
    color: white;
    background-size: 80% 70%;
}

.editorLineErr {
    background: red;
}
