.title-bar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    padding-left: 24px;
}
.left-box,.right-box{
    position: fixed;
    top: 50px;
    height: 1024px;
}
.left-box{
    left: 20px;
    width: 50%;
}
.right-box{
    left: 50%;
    width: 50%;
    border:1px solid lightgray;
    border-top:none;
    border-bottom:none;
    border-right:none;
}
.code-area{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    padding: 5px;
}
.teacher-button {
    position: fixed;
    left: 24px;
    bottom: 0px;
    width: 100px;
    height: 110px;
    padding-top: 65px;
    border: 0;
    background: url("images/teacher.png") no-repeat bottom;
    background-size:100% 100%;
}
.run-button {
    position: fixed;
    right: 24px;
    bottom: 0px;
    width: 100px;
    height: 110px;
    padding-top: 65px;
    border: 0;
    background: url("images/gopher.png") no-repeat bottom;
    background-size:100%, 100%;
}
button:hover {
    color: white;
    background-size:85% 85%;
}